


<h1>Events</h1>

<h2>Past Events:</h2>
<% if @past_events.any? %>
  <ul>
    <% @past_events.each do |event| %>
      <li><%= event.date %> - <%= link_to 'Show', event_path(event) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No past events.</p>
<% end %>

<h2>Upcoming Events:</h2>
<% if @upcoming_events.any? %>
  <ul>
    <% @upcoming_events.each do |event| %>
      <li><%= event.date %> - <%= link_to 'Show', event_path(event) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No upcoming events.</p>
<% end %>
