<h1><%= @event.date %></h1>
<p>Created by: <%= link_to @event.creator.email, user_path(@event.creator) %></p>

<% if user_signed_in? %>
  <% if @event.attendees.include?(current_user) %>
    <%= button_to 'Cancel Attendance', event_attendance_path(@event, current_user), method: :delete %>
  <% else %>
    <%= button_to 'Attend Event', event_attendances_path(@event), method: :post %>
  <% end %>
<% end %>
